<div id="customers">
  <div class="container">
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Customers</span>
      <hr class="right visible-desktop">
    </h2>

    <div class="row">
      <div class='span3'>
        <%= image_tag('chamber-logo.png') %>
      </div>
      <div class='span3'>
        <%= image_tag('kv-logo.png') %>
      </div>
      <div class='span3'>
        <%= image_tag('pt-logo.png') %>
      </div>
      <div class='span3'>
        <%= image_tag('kp-logo.png') %>
      </div>
    </div>
  </div>
</div>
