<div id="features">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Features</span>
      <hr class="right visible-desktop">
    </h2>

    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <!--<img src="assets/feature1.jpg" alt="feature1" class="thumb">-->
        <h3>
          <i class="i_cloud"></i> Automatic Conversion
        </h3>
        <p class="description">
        You already have a website that looks great on desktop computers. Mbilify will automatically convert your desktop website into a mobile site that is easy to use with one thumb, easy to action on when on the go and faster to load!
        </p>
        <!--<a href="#" class="btn btn-default">more</a>-->
      </div>
      <div class="span4 feature">
        <!--<img src="assets/feature2.jpg" alt="feature2" class="thumb">-->
        <h3>
          <i class="i_chart"></i> Customize Look & Feel
        </h3>
        <p class="description">
        You want to tweak the look and feel of your mobile site? No problem. Our site editor is extremely easy to use. We even have ready-made themes for you to choose from.
        </p>
        <!--<a href="#" class="btn btn-default">more</a>-->
      </div>
      <div class="span4 feature">
        <!--<img src="assets/feature3.jpg" alt="feature3" class="thumb">-->
        <h3>
          <i class="i_movil"></i> Know Your Mobile Customers
        </h3>
        <p class="description">
        Once your mobile site is up and running, you want to keep track of who's visiting. We have got that covered also!
        </p>
        <!--<a href="#" class="btn btn-default">more</a>-->
      </div>
    </div>
  </div>
</div>
