<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div class="row">
          <div class="span6">
            <img src="assets/slide1.png" alt="slide1">
          </div>
          <div class="span6">
            <h1>
              Making your site mobile friendly is extremely easy
            </h1>
            <p>
            Mbilify makes it extremely easy to optimize your website for your smartphone customers.
            </p>

            <div class='input-large input-append'>
              <input style='height:34px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='10' data-source='["http://www.cafeoribellevue.com", "http://www.tresamigos.com", "http://www.havanamania.com", "http://www.restaurant-lebrouillarta.com", "http://www.serdas.com", "http://www.killermargaritas.com", "http://www.soffritto.com", "http://www.tazzacaffe.com", "http://ricenspicethai.com", "http://whatthepho.net", "http://www.phohoa.com", "http://www.anitascrepes.com", "http://www.lacreperievoila.com", "http://chengduchineserestaurant.com", "http://www.littleotterswim.com", "http://www.fosterharris.com", "http://www.aquaplasticsurgery.com", "http://www.hearstnonprofit.com/english/indexen.html", "http://www.lamppostpublishing.com", "http://www.cissecurity.ca", "http://www.425motorsports.com", "http://www.toptiercomputerservices.com", "http://www.tradingpub.com", "http://wilkinsmiller.com", "http://www.atisw.com", "http://www.justorthodontics.com", "http://www.lillypadvillage.com", "http://www.nickusborne.com", "http://www.ladeedogs.com", "http://www.jjsproperty.com", "http://www.gjawning.com", "http://www.uptempomagazine.com", "http://www.ecommonwealthbank.com"]'></input>
              <a id='action' class='btn btn-large btn-success'>Take action now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
