<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div class="row">
          <div class="span8">
            <div id='hero_carousel' class='carousel slide'>
              <div class='carousel-inner'>
                <div class='active item slide1'>
                  <%= image_tag('lakewashingtonpt.png') %>
                </div>
                <div class='item slide2'>
                  <%= image_tag('cafeori.png') %>
                </div>
              </div>
              <a class="carousel-control left" href="#hero_carousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#hero_carousel" data-slide="next">&rsaquo;</a></div>
          </div>
          <div class="span4">
            <h1>
              Making your site mobile friendly is extremely easy
            </h1>
            <p>
            Mbilify makes it extremely easy to optimize your website for your smartphone customers.
            </p>

            <div class='input-large input-append'>
              <% if true %>
                <input style='height:29px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here'></input>
              <% end %>
              <% if false %>
                <input style='height:29px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='10' data-source='<%= get_test_sites %>'></input>
              <% end %>
              <a id='action' class='btn btn-large btn-success'>Take action now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
