<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div class="row">
          <div class="span6">
            <iframe width="570" height="348" src="http://www.youtube.com/embed/9vLnfWT9wQ8" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="span6">
            <h1>
              Making your site mobile friendly is extremely easy
            </h1>
            <p>
            Mbilify makes it extremely easy to optimize your website for your smartphone customers.
            </p>

            <div class='input-large input-append'>
              <% if true %>
                <input style='height:34px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here'></input>
              <% end %>
              <% if false %>
                <input style='height:34px' class='input-large' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='10' data-source='<%= get_test_sites %>'></input>
              <% end %>
              <a id='action' class='btn btn-large btn-success'>Take action now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
