<div id="intro">
  <div class="container">

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <blockquote>
            <h1>
              <span>"</span>
              By 2014 mobile internet usage is expected to overtake desktop internet usage.
              <span>"</span>
              <small>Mary Meeker, KPCB</small>
            </h1>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <h1>
              <span>"</span>
              One quater of US smartphone internet users who searched for local businesses on their phone made purchases.
              <span>"</span>
              <small>Gartner.com</small>
            </h1>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <h1>
              <span>"</span>
              80% of customers abandon a mobile site if they have poor experience.
              <span>"</span>
              <small>Google research</small>
            </h1>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <h1>
              <span>"</span>
              54% use smartphones to find retailers.
              <span>"</span>
              <small>Google research</small>
            </h1>
          </blockquote>
        </div>
        <div class="item">
          <blockquote>
            <h1>
              <span>"</span>
              96% of smartphone users have encountered mobile unfriendly sites.
              <span>"</span>
              <small>Google research</small>
            </h1>
          </blockquote>
        </div>
      </div>
      <!-- Carousel nav -->
      <!--
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      -->
    </div>
  </div>
</div>
