<div id="testimonials">
  <div class="container">
    <div class="controls">
      <hr>
    </div>
    <div class="phrases_wrapper">
      <div class="phrase">
        <div class="row">
          <div class="span7">
            <p class="testimony">
            There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
            <span>"</span>
            </p>
          </div>
          <div class="span3 offset1">
            <div class="pic">
              <img src="assets/pic1.jpg" alt="author" class="img-circle">
              <span class="name">Alejandra Galvan Castillo</span>
              <span class="position">Bootstrap wizard</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
