<% if !@editor_mode %>
  <script>
    $(function() {
      $('#but').click(function() {
        window.location = '/editor/test'
        //$('#ifr').get(0).src = '/editor/frame/'
      });
    });
  </script>
  
  <div class='container'>
    <div class='row'>
      <div class='span8'>
        <h3>Edit the page</h3>
        <a class='btn btn-large btn-success' id='but'>Edit</a>
      </div>
      <div class='span4'>
        <iframe id='ifr' width=320 height=800 src='/frame'></iframe>
      </div>
    </div>
  </div>
<% else %>
  <iframe id='ifr' width=320 height=800 src='/frame'></iframe>
<% end %>
