<div class='modal hide fade' id='confirmDeleteModal'>
  <div class='modal-header'>
    <a class='close' data-dismiss='modal'>×</a>
    <h3>Deleting <span id='site_name'></span></h3>
  </div>
  <div class='modal-body'>
    <p>Are you sure you want to delete the converted website?</p>
  </div>
  <div class='modal-footer'>
    <a data-dismiss='modal' class='btn'>Cancel</a>
    <a data-dismiss='modal' class='btn btn-danger confirm'>OK</a>
  </div>
</div>
