<div class='modal hide fade' id='welcomeModal'>
  <div class='modal-header'>
    <a class='close' data-dismiss='modal'>×</a>
    <h3>Your site has been successfully converted!</h3>
  </div>
  <div class='modal-body'>
    <p>We've set up your new mobile website at a temporary URL while you continue building it with Mbilify. Once you're ready to launch your website, you can customize this address with a free custom domain name from Mbilify or a domain of your own.</p>
  </div>
  <dl class='dl-horizontal'>
    <dt>Temporary mobile URL:</dt>
    <dd><a href='#'><strong><span id='subdomain'></strong></span>.mbilify.com</a></dd>
  </dl>
  <div class='modal-footer'>
    <a data-dismiss='modal' class='btn btn-success'>Continue on the mobile journey</a>
  </div>
</div>
