<div class='container'>

  <div class='row'>
    <div class="span8">

      <div id="styles">
        <ul class='thumbnails'>
          <% theme = %w(A B C D E F G H I J K) %>
          <% theme.each do |t| %>
            <li class='span2'>
            <%= link_to(image_tag("#{t}.png"), '#', id:"theme#{t}", class:'thumbnail')%>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="edit">
        <%= link_to 'Edit Your Site', '/editor'+request.path, class: 'btn btn-primary btn-large' %>
      </div>

      <div id="golive">
        <a class='btn btn-success btn-large'>Go Live!</a>
      </div>

    </div>    

    <div class='span4'>

      <div class='mobile'>
        <div class='screen'>
          <iframe class='preview' src='/sites/show'></iframe>
        </div>
      </div>  

    </div>

  </div>
</div>
