<% content_for :logo_img do %>
  <div id='logo_img' data-mercury='full'>
    <%= raw @site.logo_img %>
  </div>
<% end %>

<% content_for :nav_menu do %>
  <% if !@site.nav_menu.nil? %>
    <ul id='nav' data-role='listview' data-inset='true'>
      <% @site.nav_menu.each do |menu_item| %>
        <li>
        <%= link_to menu_item, '#' %> 
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div id='site_content' data-mercury='full'>
  <%= raw @site.content %>
</div>
