<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= stylesheet_link_tag 'jquery.mobile.theme.custom', 
                            'jquery.mobile.structure',
                            'jqm-icon-pack-2.0-original',
                            'mobile/test' %>
    <%= javascript_include_tag 'jquery',
                               'jquery.mobile',
                               'mobile/test' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='home' data-role='page' data-theme='e'>

      <div data-role='content' id="primary" data-mercury="full">
        <h1 style="font-style: normal; font-variant: normal; font-weight: bold; font-size: 56px; line-height: normal; font-family: 'Times New Roman', Times, serif; width: 300px; height: auto; color:white; text-align:center; margin-top:0px; margin-bottom:0px">
          Cafe Ori
          <div class="logoWrapper" style="background-color: rgb(24, 120, 0); "><img id="logo" src="http://www.cafeoribellevue.com/images/LOGO-CafeOri-H64transp.png" alt="Cafe Ori (Chinese)" class="ignore"></div>
        </h1>

        <a href='tel:1-425-747-8822' data-role='button' data-inline='false' data-icon='phone'>Call Us</a>
        <a href='http://maps.apple.com/maps?q=14339+NE+20th+st,Bellevue,WA,98007' data-role='button' data-inline='false' data-icon='mappin'>Find Us</a>
        <a href='#' data-role='button' data-inline='false' data-icon='info'>Open Daily 11am-10pm</a>
        <a href='#' data-role='button' data-inline='false' data-icon='facebook'>Like Us</a>

        <ul data-role="listview" data-inset="true" data-theme="e" data-divider-theme="b">
          <li data-role="list-divider">Menu 菜單</li>
          <li><a href="#appetizers">Appetizers</a></li>
          <li><a href="#soup">Soup</a></li>
          <li><a href="#curry">Curry</a></li>
          <li><a href="#seafood">Seafood</a></li>
          <li><a href="#beefpork">Beef / Pork</a></li>
          <li><a href="#chicken">Chicken</a></li>
          <li><a href="#hotpot">Hot Pot</a></li>
          <li><a href="#beancurd">Bean Curd</a></li>
          <li><a href="#vegetable">Vegetable</a></li>
          <li><a href="#ricespaghetti">Rice / Spaghetti</a></li>
          <li><a href="#friednoodle">Fried Noodle</a></li>
          <li><a href="#soupnoodle">Soup Noodle</a></li>
          <li><a href="#congee">Congee</a></li>
          <li><a href="#taiwaneseshavedice">Taiwanese Shaved Ice</a></li>
          <li><a href="#hotcolddrinks">Hot or Cold Drinks</a></li>
          <li><a href="#colddrinks">Cold Drinks</a></li>
        </ul>

      </div>
    </div>

    <div data-role='page' data-add-back-btn='true' id='appetizers'>
      <div data-role="header" data-theme='b' data-position='fixed'>
        <h1>Appetizers</h1>
      </div>
      <div data-role='content'>
        <ol data-role="listview" data-inset="true" data-theme="e" data-divider-theme="b">
          <li>French toast<span class='ui-li-aside'>$2.00</span></li>
          <li>Egg Roll (2)<span class='ui-li-aside'>$2.00</span></li>
          <li>Deep-Fried Dough Sticks<span class='ui-li-aside'>$2.00</span></li>
          <li>Fried Dumplings<span class='ui-li-aside'>$6.00</span></li>
          <li>Wonton w/ Spicy Sauce<span class='ui-li-aside'>$6.60</span></li>
          <li>Chicken Wing w/ Salt & Pepper<span class='ui-li-aside'>$7.00</span></li>
        </ol>
      </div>
    </div>

    <div data-role='page' data-add-back-btn='true' id='soup'>
      <div data-role="header" data-theme='b' data-position='fixed'>
        <h1>Soup</h1>
      </div>
      <div data-role='content'>
        <ol start='7' data-role="listview" data-inset="true" data-theme="e" data-divider-theme="b">
          <li>Soup of the Day<span class='ui-li-aside'>$3.30</span></li>
          <li>Hot & Sour Soup<span class='ui-li-aside'>S-$2.75<br />L-$4.95</span></li>
          <li>Wonton Soup<span class='ui-li-aside'>S-$2.75<br />L-$4.95</span></li>
          <li>Cream of Mushroom Soup<span class='ui-li-aside'>S-$2.75<br />L-$4.95</span></li>
          <li>Cream of Corn Soup<span class='ui-li-aside'>S-$2.75<br />L-$4.95</span></li>
        </ol>
      </div>
    </div>

    <div data-role='page' data-add-back-btn='true' id='curry'>
      <div data-role="header" data-theme='b' data-position='fixed'>
        <h1>Curry</h1>
      </div>
      <div data-role='content'>
        <ol start='12' data-role="listview" data-inset="true" data-theme="e" data-divider-theme="b">
          <li>Curry Prawn<span class='ui-li-aside'>$12.00</span></li>
          <li>Curry Fish<span class='ui-li-aside'>$10.50</span></li>
          <li>Curry Squid<span class='ui-li-aside'>$10.50</span></li>
          <li>Curry Beef<span class='ui-li-aside'>$10.00</span></li>
          <li>Curry Beef Brisket<span class='ui-li-aside'>$10.00</span></li>
          <li>Curry Chicken<span class='ui-li-aside'>$10.00</span></li>
          <li>Curry Vegetable<span class='ui-li-aside'>$9.00</span></li>
        </ol>
      </div>
    </div>
  </body>
</html>
